<!DOCTYPE html>
<html lang="pt-BR" data-bs-theme="dark">
  <head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Notepad - Cadastro</title>

    <link rel="stylesheet" href="css/principal.css" />
    <link
      rel="icon"
      type="image/svg+xml"
      sizes="16x16"
      href="assets/logo.svg"
    />
  </head>

  <body class="bg-custom">
    <header>
        <div id="logo">
            <img src="assets/logo.svg" alt="logo" />
            <h1>NOTEPAD</h1>
        </div>
        <button id="menu-toggle" aria-label="Menu" aria-controls="menu">
            <span></span>
            <span></span>
            <span></span>
        </button>
        <nav id="menu">
            <a href="/frontend/templates/login.html">LOGIN</a>
        </nav>
    </header>

    <div class="container">
        <form action="/cadastrar" method="POST"  id="form_cadastro">
            <div class="titulo_form">
                <h1>CRIE SUA CONTA</h1>
            </div>
            <div class="field">
                <label for="nome">Nome</label>
                <input type="text" id="nome" name="nome" required>
            </div>
            <div class="field">
                <label for="email">E-mail</label>
                <input type="email" id="email" name="email" required>
            </div>
            <div class="field">
                <label for="senha">Senha</label>
                <input type="password" id="senha" name="senha" required>
            </div>
            <div class="field">
                <label for="confirmar_senha">Confirme a senha</label>
                <input type="password" id="confirmar_senha" name="confirmar_senha" required>
            </div>
            <div class="botao_form_div">
                <button type="submit">CADASTRAR</button>
            </div>
        </form>
    </div>

    <!-- <script src="frontend/js/api-login.js"></script> -->
    <!-- <script src="/frontend/js/Home.js"></script> -->
  </body>
</html>