<!DOCTYPE html>
<html lang="pt-BR" data-bs-theme="dark">
  <head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Notepad</title>

    <link rel="stylesheet" href="css/principal.css" />
    <link
      rel="icon"
      type="image/svg+xml"
      sizes="16x16"
      href="assets/logo.svg"
    />
  </head>

  <body class="bg-custom">
    <header>
        <div id="logo">
            <img src="assets/logo.svg" alt="logo" />
            <h1>NOTEPAD</h1>
        </div>
        <button id="menu-toggle" aria-label="Menu" aria-controls="menu">
            <span></span>
            <span></span>
            <span></span>
        </button>
        <nav id="menu" class="menu_logado">
            <p id="nome_usuario"> <%= nome %> </p>
                <form action="/deslogar" method="POST" id="logout-form">
                    <button id="btn_sair">
                        <img src="assets/icon_sair.svg" alt="deslogar" class="icone_botao"/>
                    </button>
                </form>
        </nav>
    </header>

    <div class="container">
        <div class="opcoes">
            <div>
                <label for="" id="label_busca">Buscar nota:</label>
                <input type="text" id="input_busca">
            </div>
            <div>
                <button id="btn_filtrar">
                    <img src="assets/icon_filtro.svg" alt="Filtrar notas" class="icone_botao" />
                </button>
                <button id="btn_nova_nota">
                    <img src="assets/icon_mais.svg" alt="Adicionar nova nota" class="icone_botao" />
                </button>
            </div>
        </div>
        <div class="div-notas">
            <!-- Notas aqui -->
        </div>
    </div>

    <div id="modal-criar-nota" class="modal">
        <div class="modal-content" id="content-criar">
            <span class="close">&times;</span>
            <div class="corpo-criar">
                <input type="text" id="input-titulo" placeholder="Título da nota">
                <textarea name="nota" id="texto-nota" placeholder="Texto da nota"></textarea>
                <div class="div-btn">
                    <button id="btn-criar-nota">CRIAR</button>
                </div>
            </div>
        </div>
    </div>

    <div id="modal-editar-nota" class="modal">
        <div class="modal-content" id="content-editar">
            <span class="close">&times;</span>
            <div class="corpo-editar">
                <input type="text" id="input-titulo-editar">
                <textarea name="nota" id="texto-nota-editar"></textarea>
                <div class="div-btn">
                    <button id="btn-salvar-nota">SALVAR</button>
                </div>
            </div>
        </div>
    </div>

    <script>
        // Obtenha os modais
        var modalCriar = document.getElementById("modal-criar-nota");
        var modalEditar = document.getElementById("modal-editar-nota");
        
        // Obtenha os botões que abrem os modais
        var btnNovaNota = document.getElementById("btn_nova_nota");
        var btnEditarNota = document.querySelectorAll(".icone_opcoes");

        // Obtenha os elementos <span> que fecham os modais
        var spanCriar = document.querySelector("#modal-criar-nota .close");
        var spanEditar = document.querySelector("#modal-editar-nota .close");

        // Quando o usuário clicar no botão, abre o modal de criar nota
        btnNovaNota.onclick = function() {
            modalCriar.style.display = "block";
        }

        // Quando o usuário clicar em <span> (x), fecha o modal de criar nota
        spanCriar.onclick = function() {
            modalCriar.style.display = "none";
        }

        // Quando o usuário clicar em um dos ícones de opções, abre o modal de editar nota
        btnEditarNota.forEach(function(btn) {
            btn.onclick = function() {
                modalEditar.style.display = "block";
            }
        });

        // Quando o usuário clicar em <span> (x), fecha o modal de editar nota
        spanEditar.onclick = function() {
            modalEditar.style.display = "none";
        }

        // Quando o usuário clicar fora do modal, fecha o modal
        window.onclick = function(event) {
            if (event.target == modalCriar) {
                modalCriar.style.display = "none";
            }
            if (event.target == modalEditar) {
                modalEditar.style.display = "none";
            }
        }

        // Função para criar uma nova nota
        document.getElementById("btn-criar-nota").onclick = function() {
        let title = document.getElementById("input-titulo").value;
        let content = document.getElementById("texto-nota").value;

        console.log("Título: ", title);
        console.log("Conteúdo: ", content);

        fetch('/criarNota', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({
                title: title,
                content: content
            })
        }).then(response => response.json())
        .then(data => {
            if(data.success) {
                // Nota criada com sucesso
                alert("Nota criada com sucesso!");
                // Fechar o modal após criar a nota
                document.getElementById('modal-criar-nota').style.display = "none";
                // Limpar campos após criar a nota (opcional)
                document.getElementById("input-titulo").value = "";
                document.getElementById("texto-nota").value = "";
                // Aqui você pode adicionar código para atualizar a lista de notas sem recarregar a página
            } else {
                // Exibir mensagem de erro
                alert("Erro ao criar a nota: " + data.error);
            }
        });
        }
    </script>
  </body>
</html>
