<!DOCTYPE html>
<html lang="pt-BR" data-bs-theme="dark">
  <head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Notepad</title>

    <link rel="stylesheet" href="css/principal.css" />
    <link
      rel="icon"
      type="image/svg+xml"
      sizes="16x16"
      href="assets/logo.svg"
    />
  </head>

  <body class="bg-custom">
    <header>
        <div id="logo">
            <img src="assets/logo.svg" alt="logo" />
            <h1>NOTEPAD</h1>
        </div>
        <button id="menu-toggle" aria-label="Menu" aria-controls="menu">
            <span></span>
            <span></span>
            <span></span>
        </button>
        <nav id="menu" class="menu_logado">
            <p id="nome_usuario"> <%= nome %> </p>
                <form action="/deslogar" method="POST" id="logout-form">
                    <button id="btn_sair">
                        <img src="assets/icon_sair.svg" alt="deslogar" class="icone_botao"/>
                    </button>
                </form>
        </nav>
    </header>

    <div class="container">
        <div class="opcoes">
            <div>
                <label for="" id="label_busca">Buscar nota:</label>
                <input type="text" id="input_busca">
            </div>
            <div>
                <button id="btn_filtrar">
                    <img src="assets/icon_filtro.svg" alt="Filtrar notas" class="icone_botao" />
                </button>
                <button id="btn_nova_nota">
                    <img src="assets/icon_mais.svg" alt="Adicionar nova nota" class="icone_botao" />
                </button>
            </div>
        </div>
        <div class="div-notas">
            <div class="nota">
                <div class="topo_nota">
                    <p class="titulo-nota">Lista de compras</p>
                    <img src="assets/icon_pontos.svg" alt="Ícone de Pontos" class="icone_opcoes">
                </div>
                <div class="conteudo-nota">
                    -Leite
                    -Café
                    -Melão
                </div>
            </div>
            <div class="nota">
                <div class="topo_nota">
                    <p class="titulo-nota">Lista de compras</p>
                    <img src="assets/icon_pontos.svg" alt="Ícone de Pontos" class="icone_opcoes">
                </div>
                <div class="conteudo-nota">
                    -Leite
                    -Café
                    -Melão
                </div>
            </div>
            <div class="nota">
                <div class="topo_nota">
                    <p class="titulo-nota">Lista de compras</p>
                    <img src="assets/icon_pontos.svg" alt="Ícone de Pontos" class="icone_opcoes">
                </div>
                <div class="conteudo-nota">
                    -Leite
                    -Café
                    -Melão
                </div>
            </div>
            <div class="nota">
                <div class="topo_nota">
                    <p class="titulo-nota">Lista de compras</p>
                    <img src="assets/icon_pontos.svg" alt="Ícone de Pontos" class="icone_opcoes">
                </div>
                <div class="conteudo-nota">
                    -Leite
                    -Café
                    -Melão
                </div>
            </div>
            <div class="nota">
                <div class="topo_nota">
                    <p class="titulo-nota">Lista de compras</p>
                    <img src="assets/icon_pontos.svg" alt="Ícone de Pontos" class="icone_opcoes">
                </div>
                <div class="conteudo-nota">
                    -Leite
                    -Café
                    -Melão
                </div>
            </div>
            <div class="nota">
                <div class="topo_nota">
                    <p class="titulo-nota">Lista de compras</p>
                    <img src="assets/icon_pontos.svg" alt="Ícone de Pontos" class="icone_opcoes">
                </div>
                <div class="conteudo-nota">
                    -Leite
                    -Café
                    -Melão
                </div>
            </div>
            <div class="nota">
                <div class="topo_nota">
                    <p class="titulo-nota">Lista de compras</p>
                    <img src="assets/icon_pontos.svg" alt="Ícone de Pontos" class="icone_opcoes">
                </div>
                <div class="conteudo-nota">
                    -Leite
                    -Café
                    -Melão
                </div>
            </div>
            <div class="nota">
                <div class="topo_nota">
                    <p class="titulo-nota">Lista de compras</p>
                    <img src="assets/icon_pontos.svg" alt="Ícone de Pontos" class="icone_opcoes">
                </div>
                <div class="conteudo-nota">
                    -Leite
                    -Café
                    -Melão
                </div>
            </div>
            <div class="nota">
                <div class="topo_nota">
                    <p class="titulo-nota">Lista de compras</p>
                    <img src="assets/icon_pontos.svg" alt="Ícone de Pontos" class="icone_opcoes">
                </div>
                <div class="conteudo-nota">
                    -Leite
                    -Café
                    -Melão
                </div>
            </div>
            <div class="nota">
                <div class="topo_nota">
                    <p class="titulo-nota">Lista de compras</p>
                    <img src="assets/icon_pontos.svg" alt="Ícone de Pontos" class="icone_opcoes">
                </div>
                <div class="conteudo-nota">
                    -Leite
                    -Café
                    -Melão
                </div>
            </div>
        </div>
    </div>

    <div id="modal-criar-nota" class="modal">
        <div class="modal-content" id="content-criar">
            <span class="close">&times;</span>
            <div class="corpo-criar">
                <input type="text" id="input-titulo" placeholder="Título da nota">
                <textarea name="nota" id="texto-nota" placeholder="Texto da nota"></textarea>
                <div class="div-btn">
                    <button id="btn-criar-nota">CRIAR</button>
                </div>
            </div>
        </div>
    </div>

    <div id="modal-editar-nota" class="modal">
        <div class="modal-content" id="content-editar">
            <span class="close">&times;</span>
            <div class="corpo-editar">
                <input type="text" id="input-titulo-editar">
                <textarea name="nota" id="texto-nota-editar"></textarea>
                <div class="div-btn">
                    <button id="btn-salvar-nota">SALVAR</button>
                </div>
            </div>
        </div>
    </div>

    <!-- <script src="frontend/js/api-login.js"></script> -->
    <!-- <script src="/frontend/js/Home.js"></script> -->
  </body>
</html>