<!DOCTYPE html>
<html lang="pt-BR" data-bs-theme="dark">
  <head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Notepad</title>

    <link rel="stylesheet" href="/frontend/css/principal.css" />
    <link
      rel="icon"
      type="image/svg+xml"
      sizes="16x16"
      href="/frontend/assets/logo.svg"
    />
  </head>

  <body class="bg-custom">
    <header>
        <div id="logo">
            <img src="/frontend/assets/logo.svg" alt="logo" />
            <h1>NOTEPAD</h1>
        </div>
        <button id="menu-toggle" aria-label="Menu" aria-controls="menu">
            <span></span>
            <span></span>
            <span></span>
        </button>
        <nav id="menu">
            <a href="">Login</a>
            <a href="frontend/screen/sobre/sobre.html">Sobre</a>
        </nav>
    </header>

    <div class="container">
        <div class="opcoes">
            <div>
                <label for="" id="label_busca">Buscar nota:</label>
                <input type="text" id="input_busca">
            </div>
            <div>
                <button id="btn_filtrar">+</button>
                <button id="btn_nova_nota">+</button>
            </div>
        </div>
        <div class="div-notas">
            <div class="nota">
                <p class="titulo-nota">Lista de compras</p>
                <div class="conteudo-nota">
                    -Leite
                    -Café
                    -Melão
                </div>
            </div>
            <div class="nota">
                <p class="titulo-nota">Lista de compras</p>
                <div class="conteudo-nota">
                    -Leite
                    -Café
                    -Melão
                </div>
            </div>
            <div class="nota">
                <p class="titulo-nota">Lista de compras</p>
                <div class="conteudo-nota">
                    -Leite
                    -Café
                    -Melão
                </div>
            </div>
        </div>
    </div>

    <!-- <script src="frontend/js/api-login.js"></script> -->
    <!-- <script src="/frontend/js/Home.js"></script> -->
  </body>
</html>